Your order is being processed by our staff
Dear {{name}} ,

Your Order #{{order_id}} has been placed on {{order_date}} via Pick Up Service.

We will contact you for the schedule date for pick up. 
Order Total: Php {{total}}

Reference Id: {{transaction_id}}
If you did not place this order, please report it immediately through our facebook page link: https://www.facebook.com/jandcpconline

For any reason that we can't contact you
Business Hours is open 
Mon - Sat 9:00 am - 6:00 pm

For any concerns or issues:
You may contact us through
facebook: https://www.facebook.com/jandcpconline
contact: 0917 796 8833
email: jhunemonton@ymail.com

Thank you for shopping with us. See you on your next purchase!